/data/
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.bin
/.DS_Store
src/__pycache__/
src/sentiment_classifier/__pycache__/
src/_mean_embeddings
src/*.csv
src/*.png
src/credentials.py
src/data
src/topic_modeling_embeddings
