/data/
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.bin
/.DS_Store
src/__pycache__/
src/sentiment_classifier/__pycache__/
src/*.csv
src/*.png
src/credentials.py
src/data
src/topic_modeling/__pycache__/
src/topic_modeling/topic_modeling_embeddings/
src/topic_modeling/topic_modeling_utils/__pycache__/
src/outputs
